body {
    background-color: var(--color-black);
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--bg-cards);
    border-radius: 8px;
}

.logo {
    background: var(--bg-cards);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar .logo img {
    width: 80px;
}

.sidebar nav ul li .fa {
  font-size: 20px;
  margin: 0 10px 0 0;
  font-weight: 300;
}

.sidebar nav ul {
    margin: 20px 0 0 0;
    padding: 0 20px 10px 20px;
}


.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: var(--color-gray);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.library {
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    padding: 4px 8px;
    color: var(--color-gray);
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0 0 0;
    flex-direction: column;
}

.library__content {
    display: flex;;
    justify-content: space-between;
}

.library__button .fa {
    font-size: 20px;
    margin: 0 10px 0 0;
    font-weight: 300;
    padding: 0 8px 0 0;
}

.library__button{
    margin: 0 10px 0 0;
    color: var(--color-gray);
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
    cursor: pointer;
}

.fa-plus {
    margin: 24px 10px;
    cursor: pointer;
}

.section__playlist {
    background-color: #242424;
    align-items: flex-start;
    border-radius: 8px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    color: var(--color-gray);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section-playlist__content {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
}

.text {
    padding: 0 0 14px 0;
    color: var(--color-white);
}

.subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

.section-playlist__button {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 9999px;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    justify-content: center;
    margin: 12px 0 0 0;
    cursor: pointer;
}

.cookies {
    margin: 25px 20px;
}

.cookies a {
    color: var(--color-gray);
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.languages button {
    background-color: transparent;
    border-radius: 9999px;
    border: 1px solid #878787;
    color: var(--color-white);
    cursor: pointer;
    padding: 8px;
    width: 170px;
    margin: 8px;
    font-weight: bold;
}

.premium {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    justify-content: space-between;
    padding: 15px 40px;
}

.premium__text {
    flex-shrink: 0;
}

.premium__text p {
    font-size: 12px;
    color: var(--color-white);
    margin: 0 0 10px 0;
    font-weight: 400;
}

#subtitle {
    font-size: 14px;
    font-weight: 500;
}

.button__premium button{
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
}